@inject HttpClient HttpClient
@using _4PL.Data

@inject NavigationManager NavManager

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>

    <table class = "table">
        <thead>
            <tr>
                <th>Job_No</th>
                <th>Master_BL_No</th>
                <th>Container_Mode</th>
                <th>Place_Of_Loading_ID</th>
                <th>Place_Of_Loading_Name</th>
                <th>Place_Of_Loading_Name</th>
                <th>Place_Of_Discharge_Name</th>
                <th>Vessel_Name</th>
                <th>Voyage_No</th>
                <th>ETD_Date</th>
                <th>ETA_Date</th>
                <th>Carrier_Matchcode</th>
                <th>Carrier_Name</th>
                <th>Carrier_Contract_No</th>
                <th>Carrier_Booking_Reference_No</th>
                <th>Inco_Terms</th>
                <th>Controlling_Customer_Name</th>
                <th>Shipper_Name</th>
                <th>Consignee_Name</th>
                <th>Total_No_Of_Pieces</th>
                <th>Package_Type</th>
                <th>Total_No_Of_Volume_Weight_MTQ</th>
                <th>Total_No_Of_Gross_Weight_KGM</th>
                <th>Description</th>
                <th>Shipment_Note</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Shipment s in shipments) {
                <tr>
                    <td>@s.Job_No</td>
                    <td>@s.Master_BL_No</td>
                    <td>@s.Container_Mode</td>
                    <td>@s.Place_Of_Loading_ID</td>
                    <td>@s.Place_Of_Loading_Name</td>
                    <td>@s.Place_Of_Discharge_ID</td>
                    <td>@s.Place_Of_Discharge_Name</td>
                    <td>@s.Vessel_Name</td>
                    <td>@s.Voyage_No</td>
                    <td>@s.ETD_Date</td>
                    <td>@s.ETA_Date</td>
                    <td>@s.Carrier_Matchcode</td>
                    <td>@s.Carrier_Name</td>
                    <td>@s.Carrier_Contract_No</td>
                    <td>@s.Carrier_Booking_Reference_No</td>
                    <td>@s.Inco_Terms</td>
                    <td>@s.Controlling_Customer_Name</td>
                    <td>@s.Shipper_Name</td>
                    <td>@s.Consignee_Name</td>
                    <td>@s.Total_No_Of_Pieces</td>
                    <td>@s.Package_Type</td>
                    <td>@s.Total_No_Of_Volume_Weight_MTQ</td>
                    <td>@s.Total_No_Of_Gross_Weight_KGM</td>
                    <td>@s.Description</td>
                    <td>@s.Shipment_Note</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<Shipment> shipments = new List<Shipment>();

    protected override async Task OnInitializedAsync()
    {
        shipments = await getShipmentData();
    }

    async Task<List<Shipment>> getShipmentData()
    {
        return await HttpClient.GetFromJsonAsync<List<Shipment>>($"{NavManager.BaseUri}api/shipment/ShipmentData");
    }
}

