@page "/Account/AccessRights"

@using System.ComponentModel.DataAnnotations;
@using System.Text;
@using System.Text.Encodings.Web;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.WebUtilities;
@using _4PL.Data;
@using Snowflake.Data;
@using Newtonsoft.Json;

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IConfiguration Configuration
@inject HttpClient HttpClient
@inject SnowflakeDbContext DbContext
@inject ILogger<AccessRights> Logger
@rendermode InteractiveServer


<PageTitle>Access Rights</PageTitle>

<h3>Manage Access Rights</h3>

<div align="center">
    <div class="col-md-4">
        <!-- display all avaiable accounts-->
<h2>Available Accounts</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Accounts</th>
                </tr>
            </thead>
                @if (availableAccounts != null)
                {
                <tbody>
                        @foreach (var account in availableAccounts)
                        {
                        <tr>
                            <td>
                                <a onclick="navigator.clipboard.writeText('@account')" href="javascript:void(0);">@account</a>
                            </td>
                        </tr>
                        }
                </tbody>
                }
        </table>
    </div>
</div>

<div align="center">
    <div class="col-md-4">
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="FetchAccessRights" FormName="fetchaccessrights">
            <DataAnnotationsValidator />
            <hr />
            <ValidationSummary class="text-danger" />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div style="margin-bottom:10px" class="text-danger">@errorMessage</div>
            }

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email">Email</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">View Access Rights</button>
        </EditForm>
    </div>
</div>


@if (!string.IsNullOrEmpty(accessRightsString))
{
    <div>
        <h2>@Input.Email</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Access Type</th>
                <th>Permission</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < accessRights.Length; i++)
            {
                <tr>
                    <td>
                        @accessRightsHeadings[i].Replace("[", "").ToUpper() 
                    </td>
                    <td>
                        @if (accessRights[i].ToString().ToLower().Contains("false"))
                        {
                            <span class="text-danger">No</span>
                        }
                        else if (accessRights[i].ToString().ToLower().Contains("true"))
                        {
                            <span class="text-success">Yes</span>
                        }
                        else
                        {
                            <span class="text-danger">Not Found.</span>
                        }
                    </td>
                    <td>
                        <input type="checkbox" name="accessRights[@i]" value="@accessRights[i]">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h2>Copy Access Rights to another user?</h2>
    </div>
    <div align="center">
        <div class="col-md-4">
            @if (isCopySuccessful)
            {
                <div class="alert alert-success">
                    @copySuccessMessage
                </div>
            }
            <EditForm Model="InputTarget" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="CopyAccessRights" FormName="copyaccessrights">
                <DataAnnotationsValidator />
                <hr />
                <ValidationSummary class="text-danger" />
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div style="margin-bottom:10px" class="text-danger">@errorMessage</div>
                }
                <div class="form-floating mb-3">
                    <InputText @bind-Value="InputTarget.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email">Email</label>
                </div>
                @if (InputTarget.Email == Input.Email)
                {
                    <div style="margin-bottom:10px" class="text-danger">Cannot copy access rights to the same user.</div>
                }
                <button type="submit" class="w-100 btn btn-lg btn-primary">Copy Access Rights</button>
            </EditForm>
        </div>
    </div>
}
else
{
    <p align="center">No access rights found for the provided email.</p>
}


@code {
    [SupplyParameterFromForm]
    private UserRegisterModel Input { get; set; } = new();
    private TargetUserRegisterModel InputTarget { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? errorMessage;

    private string? apiBaseUrl;
    private string? accessRightsString;
    private string? accessRightsHeadingsString;
    private string[]? accessRights;
    private string[]? accessRightsHeadings;
    private string? accountString;
    private string[]? availableAccounts;
    private bool isCopySuccessful = false;
    private string? copySuccessMessage;

    protected async override void OnInitialized()
    {
        apiBaseUrl = Configuration["ApiBaseUrl"];  
    }


    public async Task<string[]> FetchAccessRights(EditContext editContext)
    {
        var response = await HttpClient.PostAsJsonAsync($"{apiBaseUrl}/api/AccessRights/FetchAccessRights", Input.Email);
        var response1 = await HttpClient.PostAsJsonAsync($"{apiBaseUrl}/api/AccessRights/FetchAccessRightsHeadings", Input.Email);
        await FetchAvailableAccounts();

        if (!response.IsSuccessStatusCode)
        {
            errorMessage = await response.Content.ReadAsStringAsync();
            return [""];
        }
        else
        {
            accessRightsString = response.Content.ReadAsStringAsync().Result;
            Logger.LogInformation("User access rights found.");
            accessRightsHeadingsString = response1.Content.ReadAsStringAsync().Result;
            accessRightsHeadings = accessRightsHeadingsString.Split(',');
            for (int i = 0; i < accessRightsHeadings.Length; i++)
            {
                accessRightsHeadings[i] = accessRightsHeadings[i].Replace("[", "");
                accessRightsHeadings[i] = accessRightsHeadings[i].Replace("]", "");
                accessRightsHeadings[i] = accessRightsHeadings[i].Replace("\"", "");
                accessRightsHeadings[i] = accessRightsHeadings[i].Replace("_", ", ");
            }
            return accessRights = accessRightsString.Split(',');
        }
    }
    public async Task CopyAccessRights(EditContext editContext)
    {
        if (InputTarget.Email == Input.Email){
            return;
        }
        List<string> emailList= new List<string>();
        emailList.Add(Input.Email);
        emailList.Add(InputTarget.Email);
        var response = await HttpClient.PostAsJsonAsync($"{apiBaseUrl}/api/AccessRights/CopyAccessRights", emailList);
        if (!response.IsSuccessStatusCode)
        {
            errorMessage = await response.Content.ReadAsStringAsync();
        }
        else
        {
            Logger.LogInformation("Successfully copied.");
            isCopySuccessful = true; // Set flag for successful copy
            copySuccessMessage = "Access rights copied successfully!"; // Set success message
        }
    }

    public async Task FetchAvailableAccounts()
    {
        var response = await HttpClient.GetAsync($"{apiBaseUrl}/api/AccessRights/FetchAvailableAccounts");
        Logger.LogInformation(response.Content.ReadAsStringAsync().Result);
        if (!response.IsSuccessStatusCode)
        {
            errorMessage = await response.Content.ReadAsStringAsync();
        }
        else
        {
            Logger.LogInformation("Successfully fetched.");
            Logger.LogInformation(response.Content.ReadAsStringAsync().Result);
            accountString = response.Content.ReadAsStringAsync().Result;
            availableAccounts = accountString.Split(',');
            for (int i = 0; i < availableAccounts.Length; i++)
            {
                availableAccounts[i] = availableAccounts[i].Replace("[", "");
                availableAccounts[i] = availableAccounts[i].Replace("]", "");
                availableAccounts[i] = availableAccounts[i].Replace("\"", "");
            }
            StateHasChanged();
        }
    }

    private sealed class UserRegisterModel
    {
        public string Name { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

    }

    private sealed class TargetUserRegisterModel
    {
        public string Name { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

    }
}
